*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/

# Scala-IDE specific
.scala_dependencies
.worksheet
bin/
*.swp
.cache
.classpath
.project
.settings/
.springBeans
.pydevproject
target/
.idea/
.idea/*
*.iml
*.ipr
*.iws
*.pyc
*.eml
*~
jmeter/
*.log
.DS_Store
